.collapsible {
  display: flex;
  flex-direction: column;
}

.title {
  align-items: center;
  background: none;
  border: 1px solid var(--color-lighter-grey);
  border-radius: 8px;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-large);
  justify-content: left;
  margin: var(--margin-medium) 0;
  padding: var(--padding-large);
  padding-right: var(--padding-huge);
  position: relative;
  text-align: left;
  white-space: unset;
}

.arrow {
  position: absolute;
  right: 3rem;
  transform: translateY(-6px);
}
.arrow::after,
.arrow::before {
  content: '';
  position: absolute;
  background-color: currentColor;
  width: 3px;
  height: 9px;
}
.arrow::after {
  transform: translate(-2px, 0) rotate(-45deg);
}
.arrow::before {
  transform: translate(2px, 0) rotate(45deg);
}
.title[data-open] .arrow::after {
  transform: translate(2px, 0) rotate(-45deg);
}
.title[data-open] .arrow::before {
  transform: translate(-2px, 0) rotate(45deg);
}

.title:hover {
  box-shadow: var(--boxshadow-medium);
}

.content {
  line-height: 2;
  margin: 0 2rem;
}

.content p {
  margin: var(--margin-small) 0 var(--margin-large) 0;
}

.content a {
  color: var(--color-primary);
}
