# -------------------------------------------------------------------------------------------------
# environment variables
# -------------------------------------------------------------------------------------------------
# - public environment variables must be prefixed with `NEXT_PUBLIC_`.
# - when adding new environment variables, don't forget to also update the
#   validation schema in `./config/env.config.ts`.

# -------------------------------------------------------------------------------------------------
# app
# -------------------------------------------------------------------------------------------------
NEXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
# used to link to cms on preview branch deployments
NEXT_PUBLIC_APP_PRODUCTION_BASE_URL="http://localhost:3000"
# imprint service
NEXT_PUBLIC_REDMINE_ID="16225"
# web crawlers
NEXT_PUBLIC_BOTS="disabled"
# validate environment variables
ENV_VALIDATION="enabled"

# -------------------------------------------------------------------------------------------------
# analytics
# -------------------------------------------------------------------------------------------------
# NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_MATOMO_BASE_URL="https://matomo.acdh.oeaw.ac.at"
# NEXT_PUBLIC_MATOMO_ID=

# -------------------------------------------------------------------------------------------------
# typesense
# -------------------------------------------------------------------------------------------------
# local
NEXT_PUBLIC_TYPESENSE_COLLECTION="dariah-campus"
NEXT_PUBLIC_TYPESENSE_HOST="localhost"
NEXT_PUBLIC_TYPESENSE_PORT="8108"
NEXT_PUBLIC_TYPESENSE_PROTOCOL="http"
NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
TYPESENSE_ADMIN_API_KEY=
# production
# NEXT_PUBLIC_TYPESENSE_COLLECTION="dariah-campus"
# NEXT_PUBLIC_TYPESENSE_HOST="typesense.acdh-dev.oeaw.ac.at"
# NEXT_PUBLIC_TYPESENSE_PORT="443"
# NEXT_PUBLIC_TYPESENSE_PROTOCOL="https"
# NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
# TYPESENSE_ADMIN_API_KEY=

# -------------------------------------------------------------------------------------------------
# keystatic cms
# -------------------------------------------------------------------------------------------------
# KEYSTATIC_GITHUB_CLIENT_ID=
# KEYSTATIC_GITHUB_CLIENT_SECRET=
# KEYSTATIC_SECRET=
# NEXT_PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
# NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO_NAME="dariah-campus"
# NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO_OWNER="dariah-eric"
# NEXT_PUBLIC_KEYSTATIC_MODE="github"

# -------------------------------------------------------------------------------------------------
# handle pid service
# -------------------------------------------------------------------------------------------------
HANDLE_CERT=
HANDLE_KEY=
HANDLE_PREFIX="21.11159"
HANDLE_PROVIDER="https://vm02.pid.gwdg.de:8004"
HANDLE_RESOLVER="https://hdl.handle.net/"
