# dependencies
node_modules/
.pnpm-store/

# logs
*.log

# non-public environment variables
.env.keys
.env.local
.env.*.local

# caches
.eslintcache
.prettiercache
.stylelintcache
*.tsbuildinfo

# performance profiles
*.cpuprofile
*.heapprofile
*.heapsnapshot

# vercel
.vercel

# misc
.DS_Store
*.pem
.idea/

# next.js
.next/
next-env.d.ts
out/

# self-signed certificates
certificates

# i18n
/content/**/*.d.json.ts
/messages/**/*.d.json.ts

# test
/coverage/

# playwright
/blob-report/
/playwright/.cache/
/playwright-report/
/test-results/

# generated content
.content/

# generated metadata dump
/public/metadata/*.json

# openapi
public/openapi.*
