.capturer {
  .uk-navbar-right {
    margin-right: 70px !important;
  }
  .uk-navbar-container {
    margin-left: -6.25vw;
    margin-right: -6.25vw;
  }

  .uk-offcanvas-bar {
    .uk-nav-primary > li > a {
      font-size: 22px;
    }
    .uk-nav-primary > li > div.uk-navbar-item > a.uk-button {
      font-size: 14px;
    }
  }
  .uk-navbar-nav > li > a,
  .uk-navbar-item,
  .uk-navbar-toggle,
  .uk-navbar-nav li a {
    font-size: 16px;
  }
}
