//
// == FONT_FACE
// --------------------------------------------------
@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-bold-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
