//
// == UTF-8
// --------------------------------------------------
@charset "UTF-8";

//
// == RESET
// --------------------------------------------------
// == fuck off, old box-sizing
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

// == minimum reset
html,
body,
blockquote,
ul,
ol,
form,
input {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1em;
}
// ul{ list-style: none; }
img {
  display: block;
  border: none;
}

// == margin fixes
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  margin-bottom: 0;
}

li p,
li ul {
  margin-top: 0;
  margin-bottom: 0;
}

//
// == TEXT_FORMATTING
// --------------------------------------------------
code,
pre,
samp {
  white-space: pre-wrap;
}
code {
  line-height: 1em;
}
table {
  margin-bottom: 1.5em;
}
q {
  &:before,
  &:after {
    display: none;
  }
}

abbr {
  cursor: help;
  border-bottom: none;
  text-decoration: none;
}

button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: 0;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  font: inherit; // Correct font properties not being inherited.
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} // overrides extra padding in Firefox
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  button span {
    margin-top: -1px;
  } // Safari and Google Chrome only - fix margins
}
.msie6 button {
  width: 1%;
  overflow: visible;
}
.msie7 button {
  overflow: visible;
}

//
// == HTML5
// --------------------------------------------------
article,
aside,
audio,
canvas,
datagrid,
datalist,
details,
dialog,
figure,
footer,
header,
menu,
nav,
section,
video {
  display: block;
}
abbr,
eventsource,
mark,
meter,
time,
progress,
output,
bb {
  display: inline;
}

//
// == QUICK_HACKS
// --------------------------------------------------
html {
  -webkit-font-smoothing: antialiased;
} // ugly Mac OS fonts rendering
//input, textarea, select, button{ box-sizing: inherit; } // user agent stylesheet default is box-sizing: border-box

// OS X Chrome overflow bug
textarea {
  transform: translate3d(0, 0, 0);
}

select {
  margin: 0;

  // == MacOS Safari/Chrome
  @supports (-webkit-appearance: none) {
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 2em !important;
  }
}

// == border radius iOS
input,
textarea,
select {
  @supports (-webkit-appearance: none) {
    -webkit-appearance: none;
  }
  @supports (-webkit-border-radius: 0) {
    -webkit-border-radius: 0;
  }
}

// == stupid webkit input[type=search] custom
input[type='search']::-webkit-search-cancel-button {
  display: none;
}

// == stupid input number arrows, fuck you, jeez.
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust
//html{ -webkit-text-size-adjust:none; -ms-text-size-adjust:none; text-size-adjust:none; }
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

// IE11
main,
aside {
  display: block;
}
