/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    Dariah Winter School
    created:    2016-12-05
    author:     Christophe ANDRIEU (http://www.stpo.fr)

    summary:    VARIABLES
                    main_colorz
                    default_font-size_(px)
                    typography
                IMPORTS
                UIKIT
                GLOBAL_LAYOUT
                LINKS
                FOOTER
                IFRAME_RATIO
                HEADINGS
                HOME
                SESSION
                NAV_ANCHORS
                POPIN
                MEDIA_QUERIES
                    portrait
                    just for the sticky nav
                    tablet
                    mobile
                    wide_screens
                PRINT
----------------------------------------------------------------------------- */

//
// == VARIABLES
// --------------------------------------------------
// == main_colorz
$violet1: #1e396c; //also used for text
$violet2: #0870ac;
$orange: #ed6f59;
$pink1: #d5d8dc; //darkest
$pink2: #eaecee; //darker
$gray: #f8f9f9; //lightest
$darkgray: #2c3547; //footer

$red: #de1f4e;

// == default_font-size_(px)
$base-font-size: 16;

// == typography
$roboto: 'Roboto', Arial, Helvetica, Tahoma, sans-serif;

//
// == IMPORTS
// --------------------------------------------------
@import '_mixins';
@import '_reset';
@import '_generic';
// @import "_font-face";
// @import "_icons"; // FIXME:
@import '_custom';

//
// == UIKIT
// --------------------------------------------------
// uikit hacks
.uk-icon {
  &[uk-icon='mail'] svg {
    polyline {
      stroke: currentColor;
    }
  }
  &[uk-icon='world'] svg {
    path,
    circle {
      stroke: currentColor;
    }
  }
  &[uk-icon='video-camera'] svg {
    polygon {
      stroke: currentColor;
    }
  }
  &[uk-icon='play-circle'] svg {
    polygon,
    circle {
      stroke: currentColor;
    }
  }
  &[uk-icon='file-pdf'] svg {
    rect {
      stroke: currentColor;
    }
    path {
      fill: currentColor;
    }
  }
  &[uk-icon='close'] svg {
    path {
      stroke: currentColor;
    }
  }
  &[uk-icon='cloud-download'] svg {
    path,
    polyline {
      stroke: currentColor;
    }
  }
}

//
// == GLOBAL_LAYOUT
// --------------------------------------------------
::-moz-selection {
  color: #fff;
  background-color: $orange;
}
::-webkit-selection {
  color: #fff;
  background-color: $orange;
}
::selection {
  color: #fff;
  background-color: $orange;
}

html {
  height: 100%;
  font-size: 0.625em; // IE8+ fallback
  font-size: calc(
    1em * 0.625
  ); // IE9-IE11 math fixing. See http://bit.ly/1g4X0bX

  body {
    height: 100%;
    font-size: 160%; // "16px" equivalent base font-size
  }
}

body {
  position: relative;
  margin: 0;
  background: #fff;
  text-align: left;
  // color: $violet1;
  font-family: $roboto;
  line-height: 1.35;
  overflow-x: hidden; // for IE11...

  .body__borders {
    position: relative;
    margin-left: 6.25%;
    margin-right: 6.25%;
    background: $gray;
    counter-reset: session;
  }
}

.freezed {
  height: 100vh !important;
  overflow: hidden !important;
}

//
// == LINKS
// --------------------------------------------------
.home a {
  display: block;
  cursor: pointer;
  color: $violet1;
  text-decoration: none;

  &.alt {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &.ninja {
    color: $violet1;
  }
}

.link-download {
  position: relative;
  display: block;
  font-size: 1.5vw;
  line-height: 1.15;

  .svg-icon,
  .uk-icon svg {
    display: inline-block;
    color: $orange;
    font-size: 3.5vw;
  }

  strong {
    display: inline-block;
    padding-bottom: 0.25em;
    border-bottom: 0.15vw solid $orange;
    font-weight: bold;

    span {
      color: $violet2;
      font-weight: normal;
      font-size: 2rem;
      font-size: 1.25vw;
    }
  }
}

//
// == FOOTER
// --------------------------------------------------
#footer {
  position: relative;
  background: $darkgray;
  color: #fff;
  padding: 1.5625vw 25vw 3.125vw 3.125vw;
  border-top: 3.125vw solid #000;

  .footer__logo {
    position: absolute;
    right: 3.125vw;
    top: 1.5625vw;
    width: 14.0625vw;

    svg,
    img {
      width: 100%;
      height: auto;
    }

    img {
      width: 100%;
      max-width: 25em;
      height: auto;
    }

    span {
      display: block;
      margin-top: 0.1em;
      margin-left: 16.5%;
      color: $orange;
      text-transform: none;
      font-size: 1.75vw;
      font-weight: bold;
      line-height: 1;
    }
  }

  p,
  li {
    font-size: 0.95vw;
  }

  .footer__credits {
    margin-bottom: 1.5em;
  }

  .footer__links {
    margin-bottom: 2.5em;
    padding: 0.5em 1.5em;
    background: $violet2;

    li {
      display: inline-block;
      margin-right: 2em;

      a {
        font-weight: bold;
        // --
        color: #fff;
        transition: color 400ms ease-out;

        &:hover,
        &:focus {
          color: $orange;
          transition-duration: 150ms;
        }
      }
    }
  }

  .h3 {
    color: #fff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid $violet2;
  }

  .footer__partners {
    list-style: none;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    display: flex;

    li {
      margin-right: 5%;

      a,
      svg,
      img {
        width: auto;
        max-width: 100%;
        max-height: 7.5rem;
      }

      svg,
      img {
        fill: #fff;
        // --
        opacity: 0.75;
        transition: opacity 400ms ease-out;
      }

      a {
        &:hover,
        &:focus {
          svg,
          img {
            opacity: 1;
            transition-duration: 50ms;
          }
        }
      }
    }
  }

  .footer__more {
    opacity: 0.5;
  }
}

//
// == IFRAME_RATIO
// --------------------------------------------------
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  top: 0;
  padding-bottom: 100%; // changed by JS

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

//
// == HEADINGS
// --------------------------------------------------
.h1 {
  position: relative;
  margin: 0 0 5rem;
  text-transform: uppercase;
  font-size: 6rem;
  font-size: 3.5vw;
  line-height: 1;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  // orange square
  &::before {
    top: 7.8125vw;
    left: 1.5625vw;
    width: 3.125vw;
    height: 3.125vw;
    background: $gray;
  }

  // mask
  &::after {
    top: 1.5625vw;
    left: -3.125vw;
    width: 6.25vw;
    height: 6.25vw;
    background: $orange;
  }

  // violet square
  .square {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 7.8125vw;
    height: 7.8125vw;
    margin-left: -1.5625vw;
    margin-top: -1.5625vw;
    background: $violet1;
    vertical-align: bottom;

    &::before {
      position: absolute;
      bottom: 0.075em;
      right: 0;
      color: #fff;
    }

    &::after {
      content: 'Session';
      position: relative;
      left: -100%;
      display: block;
      padding: 0.30625vw 0.5em;
      transform: rotate(-90deg);
      transform-origin: 100% 0;
      background: #000;
      color: #fff;
      text-transform: uppercase;
      line-height: 0.95;
      font-size: 1.6rem;
      font-size: 0.95vw;
      font-size: 1.05vw;
    }
  }

  strong {
    position: relative;
    display: block;
    margin-right: 6.25vw;
    margin-left: 7.25vw;
    margin-top: -4vw;
    letter-spacing: -0.025em;

    &::before {
      z-index: 1;
      position: relative;
      display: inline-block;
      width: 7.8125vw;
      margin-left: -7.8125vw;
      text-align: right;
      color: #fff;
    }
  }
}

.h2 {
  //margin: 5rem 0 4rem;
  margin: 2.5vw 0 1.5vw;
  padding-bottom: 1.5vw;
  border-bottom: 2px solid $violet2;
  color: #000;
  font-size: 3.4rem;
  font-size: 2.05vw;
  line-height: 1.15;

  &:first-of-type {
    margin-top: 0;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.session__speakers + .h2 {
  margin-top: 6rem;
}

.h3 {
  margin: 4rem 0 3rem;
  color: #000;
  font-size: 2.4rem;
  font-size: 1.65vw;
  line-height: 1.15;

  &:first-of-type {
    margin-top: 0;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

//
// == HOME
// --------------------------------------------------
.home {
  //overflow: hidden;
  position: relative;
  min-height: 100%;
  display: table;
  //width: 100%;
  height: 100%;
  background: darken($violet1, 15%);
  padding-left: 6.25vw;
  padding-right: 6.25vw;

  .home__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      bottom: 0;
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }
  }

  .home__wrapper-1 {
    display: table-row;
    table-layout: fixed;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 9.375vw;
      width: 1px;
      background: $pink1;
      opacity: 0.5;
    }

    .home__wrapper-2 {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      padding: 1.5625vw 6.25vw;

      *::-ms-backdrop,
      .home__wrapper-3 {
        width: 74vw;
      } // IE11 bug

      .home__wrapper-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .home__main {
          width: 66.6667%;
          align-self: flex-start;

          .h1 {
            margin: 0 0 0.75em -3.125vw;
            font-size: 1em;

            &::before,
            &::after {
              display: none;
            }

            svg {
              width: 100%;
              height: auto;
            }

            img {
              width: 40%;
              height: auto;
            }

            span {
              display: block;
              margin-left: 3.25vw;
              color: $orange;
              text-transform: none;
              font-size: 3vw;
              line-height: 1;
            }
          }

          .h2 {
            z-index: 1;
            position: relative;
            margin: 0;
            padding: 0;
            border: none;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              width: 3.125vw;
              height: 3.125vw;
              background: $orange;
              transform: translate(50%, -50%);
            }

            span {
              position: relative;
              display: block;
              background: $violet1;
              color: #fff;
              text-transform: uppercase;
              font-size: 2.4rem;
              font-size: 1.5vw;
              padding: 0.5vw 0.75vw;
            }
          }

          .home__intro {
            z-index: 1;
            position: relative;
            background: rgba(0, 0, 0, 0.75);
            padding: 0.5em 0.75em;
            color: #fff;
            font-size: 1.6rem;
            font-size: 0.95vw;
          }

          .home__index {
            position: relative;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 6.25vw;
              height: 6.25vw;
              background: $orange;
              transform: translate(-50%, -50%);
            }

            &::after {
              content: '';
              position: absolute;
              top: 6.25vw;
              left: -3.125vw;
              height: 90em;
              width: 1px;
              background: $pink1;
              opacity: 0.5;
            }

            li {
              display: block;
              margin-top: 0.5em;

              a {
                display: block;
                position: relative;
                color: #fff;
                line-height: 1.15;

                small {
                  position: absolute;
                  left: 0;
                  top: 0.15em;
                  width: 6.5vw;
                  overflow: hidden;
                  display: inline-block;
                  padding: 0.25em 0.5em;
                  margin-right: 0.5vw;
                  background: $violet1;
                  text-transform: uppercase;
                  text-align: center;
                  font-size: 1.6rem;
                  font-size: 0.95vw;
                  font-weight: bold;

                  &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: $violet2;
                    // --
                    transform: translateX(-100%);
                    transition: transform 400ms ease-out;
                  }

                  span {
                    position: relative;

                    i {
                      font-style: normal;
                    }
                  }
                }

                strong {
                  display: block;
                  padding-left: 7vw;
                  font-size: 2.4rem;
                  font-size: 1.5vw;
                  font-weight: normal;
                  // --
                  transition: color 400ms ease-out;
                }

                &:hover,
                &:focus {
                  text-decoration: none;

                  small::before {
                    transform: translateX(0);
                    transition-duration: 150ms;
                  }

                  strong {
                    color: $orange;
                    transition-duration: 150ms;
                  }
                }
              }
            }
          }
        }

        .home__aside {
          z-index: 1;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          width: 33.3333%;

          .home__share {
            list-style: none;
            position: relative;
            text-align: right;
            right: -8.0625vw;
            top: 3.125vw;

            li {
              margin-bottom: 1.5625vw;

              a {
                position: relative;
                overflow: hidden;
                display: inline-block;
                width: 3.125vw;
                height: 3.125vw;
                background: $orange;
                color: #fff;
                text-align: center;
                font-size: 2vw;
                line-height: 3.125vw;

                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  background: $violet2;
                  // --
                  transform: translateX(-100%);
                  transition: transform 400ms ease-out;
                }

                .svg-icon,
                .uk-icon svg {
                  position: relative;
                  display: inline-block;
                  vertical-align: middle;
                  top: -0.1em; // cheat code!
                }

                &.home__share__twitter {
                  background: #55acee;
                }
                &.home__share__facebook {
                  background: #3b5999;
                }
                &.home__share__googleplus {
                  background: #d73d32;
                }

                &:hover,
                &:focus {
                  &::before {
                    transform: translateX(0);
                    transition-duration: 150ms;
                  }
                }
              }
            }
          }

          > div {
            position: relative;
            z-index: 1;
          }

          .home__links {
            list-style: none;
            text-align: right;
            font-size: 2.4rem;
            font-size: 1.5vw;

            li {
              a {
                color: #fff;
                // --
                opacity: 0.5;
                transition: opacity 400ms ease-out;

                &:hover,
                &:focus {
                  text-decoration: none;
                  opacity: 1;
                  transition-duration: 150ms;
                }
              }

              &.download {
                position: relative;
                padding-top: 1.5vw;

                &::before {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 0.75vw;
                  width: 1.5vw;
                  height: 0.15vw;
                  background: #fff;
                  opacity: 0.5;
                }
              }
            }
          }

          .home__more {
            padding-top: 1.75vw;
            color: #fff;
            text-align: right;
            font-size: 1.6rem;
            font-size: 0.95vw;
            opacity: 0.5;

            a {
              display: inline;
              color: #fff;
              @extend .alt;
            }
          }
        }
      }
    }
  }
}

//
// == SESSION
// --------------------------------------------------
.session {
  position: relative;
  border-top: 3.125vw solid $violet2;
  margin-left: 1px; // rendering bug
  margin-right: 1px; // rendering bug

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 9.375vw;
    width: 1px;
    background: $pink1;
  }

  &::before {
    left: 3.125vw;
  }
  &::after {
    right: 3.125vw;
  }

  .session__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .h1 {
      strong::before {
        counter-increment: session;
        content: counter(session) '.\00a0\00a0';
      }
    }

    .link-download {
      flex-shrink: 0;
      position: relative;
      height: 4.6875vw;
      width: 4.6875vw;
      margin: 1.5625vw 6.25vw 0 0;
      vertical-align: middle;
      // --
      background: $orange;
      transition: background-color 400ms ease-out;

      .svg-icon,
      .uk-icon svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
      }

      &:hover,
      &:focus {
        background: $violet2;
        transition-duration: 150ms;
      }
    }
  }

  .session__core {
    margin: 0 6.125vw;
    padding-bottom: 5em;
    counter-reset: sub-session;

    .h2.h2--counter {
      &::before {
        color: $violet1;
        counter-increment: sub-session;
        content: counter(session) '.' counter(sub-session) '.\00a0';
      }
    }

    p,
    .list-standard li {
      font-size: 1.7vw; //TT changed from 1.75
    }

    .list-standard {
      margin-bottom: 1em;
      list-style-type: disc;

      li {
        margin-left: 1.5em;
        margin-bottom: 0.5em;
      }
    }

    a {
      display: inline;
      border-bottom: 0.15vw solid $violet1;
      // --
      transition: color 400ms ease-out;

      &:hover,
      &:focus {
        color: $orange;
        transition-duration: 150ms;
        border-bottom: 0.15vw solid $orange;
      }
    }

    .floated {
      width: 50%;
      margin-bottom: 2rem;

      .floated__caption {
        margin-top: 0.25em;
        color: $violet2;
        font-style: italic;
        font-size: 1vw;
      }

      img {
        width: 100%;
      }

      &.floated--left {
        float: left;
        margin-right: 1.5vw;
        padding-right: 1.5vw;
      }

      &.floated--right {
        float: right;
        margin-left: 1.5vw;
        padding-left: 1.5vw;
      }

      &.floated--center {
        width: 100%;
      }
    }

    .session__downloads {
      color: $violet1;
      z-index: 1;
      position: relative;
      margin-top: 3.125vw;
      padding: 2vw;
      background: $pink2;

      &.session__downloads--naked {
        &::after {
          display: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 3.125vw;
        height: 3.125vw;
        background: $violet2;
        transform: translate(50%, 50%);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 3.125vw;
        height: 3.125vw;
        background: $violet1;
        transform: translate(-50%, 150%);
      }

      .link-download {
        position: relative;
        display: block;
        border: none;
      }

      .link-download + .link-download {
        margin-top: 0.5em;
      }
    }

    .session__speakers {
      position: relative;
      padding: 2vw;
      background: $pink1;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 6.25vw;
        height: 6.25vw;
        background: $orange;
        transform: translate(25%, 50%);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 3.125vw;
        height: 3.125vw;
        background: $violet2;
        transform: translate(-100%, -50%);
      }

      .h2 {
        display: inline-block;
        margin-left: -3.125vw;
        margin-bottom: 3.125vw;
        padding: 0;
        border: none;
        color: #fff;
        text-transform: uppercase;

        strong {
          padding: 0.15em 0.5em;
          background: #000;
        }

        span {
          padding: 0.15em 0.5em;
          background: $violet2;
        }
      }

      .list-speakers {
        list-style: none;

        > li {
          position: relative;
          min-height: 9.375vw;
          margin-bottom: 3.125vw;
          margin-right: 6.25vw;

          img {
            position: absolute;
            left: 0;
            right: 0;
            width: 9.375vw;
            height: 9.375vw;
            border-radius: 50%;
            border: 0.3vw solid $violet2;
          }

          .list-speakers__bio {
            padding-left: 11.5vw;

            .h3 {
              padding-bottom: 0.5em;
              margin-bottom: 0.5em;
              border-bottom: 0.15vw solid $violet2;
            }

            p,
            li {
              font-size: 1.8rem;
              font-size: 1.3vw;
            }

            div {
              column-count: 2;
              column-gap: 3.125vw;

              &.one-column {
                column-count: 1;
              }
            }

            .list-speakers__links {
              margin-top: 1em;
              padding-top: 1em;
              border-top: 0.15vw solid $pink2;

              > li {
                display: inline-block;
                margin-right: 1em;

                a {
                  border: none;

                  .svg-icon,
                  .uk-icon svg {
                    color: #000;
                  }
                }
              }
            }
          }
        }
      }
    }

    .session__speakers + .session__downloads {
      margin-top: 6.25vw;
      background: $violet2;

      &::before {
        background: $orange;
      }

      &::after {
        top: -3.125vw;
        left: 0;
        right: 6.25vw;
        width: auto;
        height: 0.15vw;
        transform: none;
        background: $violet2;
      }

      .link-download {
        //margin-top: -3.5vw;
        color: #fff;

        .svg-icon,
        .uk-icon svg {
          font-size: 4vw;
        }

        span {
          color: $pink2;
        }

        small {
          font-size: inherit;

          &::before {
            content: counter(session);
          }
        }

        &:hover,
        &:focus {
          color: $orange;
        }
      }
    }
  }
}

//
// == NAV_ANCHORS
// --------------------------------------------------
#nav-anchors {
  z-index: 100;
  position: absolute;
  right: -1.5625vw;
  top: 0;
  padding-top: 4.6875vw;
  padding-bottom: 3.125vw;

  &.fixed {
    position: fixed;
    right: 4.6875vw;
  }

  &.bottom {
    top: inherit;
    bottom: 0;
  }

  ol {
    list-style-type: none;
    counter-reset: nav -1;

    li {
      a {
        position: relative;
        font-size: 2vw;

        &::after {
          position: relative;
          display: block;
          counter-increment: nav;
          content: counter(nav);
          content: nav;
          width: 3.125vw;
          height: 3.125vw;
          text-align: center;
          line-height: 3.125vw;
          // --
          transition: background-color 400ms ease-out, color 400ms ease-out;
        }

        strong {
          overflow: hidden;
          display: block;
          height: 3.125vw;
          line-height: 3.125vw;
          width: 0;
          padding-left: 1em;
          padding-right: 1em;
          position: absolute;
          right: 100%;
          // top: 0;
          background: $violet1;
          color: #fff;
          font-weight: normal;
          font-size: 1vw;
          white-space: nowrap;
          // --
          opacity: 0;
          transform: translateX(3.125vw);
          transition: transform 400ms ease-out, opacity 400ms ease-out;
        }

        &:hover,
        &:focus {
          &::after {
            color: #fff;
            background: $violet2 !important;
            transition-duration: 150ms;
          }

          strong {
            width: auto;
            opacity: 1;
            transform: translateX(0);
            transition-duration: 150ms;
          }
        }

        &.active {
          &::after {
            color: #fff;
            background: $orange !important;
            transition-duration: 150ms;
          }
        }

        &.focus {
          &::after {
            color: #fff;
            background: $violet1 !important;
            transition-duration: 150ms;
          }
        }
      }

      &:nth-child(even) a::after {
        background: $pink1;
      }
      &:nth-child(odd) a::after {
        background: $pink2;
      }

      &:first-child a::after {
        content: '\25B2';
      } // arrow up
      &:last-child a::after {
        content: '\25BC';
      } // arrow down
    }
  }
}

//
// == POPIN
// --------------------------------------------------
.popin-overlay {
  position: fixed;
  width: auto;
  z-index: 500;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  // --
  height: 0;
  overflow: hidden;

  // vertical-align
  &::before {
    content: '';
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 100%;
    left: 0;
    width: 1px;
    vertical-align: middle;
  }

  &.active {
    height: auto;
    overflow: auto;
  }
}

.popin-closer {
  position: absolute;
  right: 1.5625vw;
  top: 1.5625vw;
  color: #fff;
  text-decoration: none;
  font-size: 3.125vw;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  // --
  opacity: 0.75;
  transition: opacity 400ms ease-out;

  &:hover,
  &:focus {
    opacity: 1;
    transition: none;
  }
}

.popin-content {
  position: relative;
  display: inline-block;
  width: 75%; // to avoid big gap bug
  margin: 3.125vw 0;
  padding: 0 6.25vw;
  vertical-align: middle;
  text-align: left;
  background: $violet2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);

  .popin-core {
    padding: 3.125vw 6.25vw;
    background: #fff;

    .h1 {
      &::before {
        top: 0;
        left: -10.9375vw;
        background: $violet1;
      }

      &::after {
        left: -9.375vw;
      }
    }

    .h3 {
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      border-bottom: 0.15vw solid $violet2;
    }

    p,
    li {
      font-size: 1.25vw;

      a {
        display: inline;
        @extend .alt;
      }
    }

    ul {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;

      li {
        width: 33.3333%;
        padding-right: 2.5rem;
        margin-bottom: 0.5rem;
      }

      &.one-line {
        flex-wrap: wrap;

        li {
          width: 100%;
          padding-right: 0;
        }

        strong {
          color: #000;
        }
      }

      a,
      svg,
      img {
        display: block;
        max-width: 100%;
      }

      svg,
      img {
        height: auto;
        width: auto;
        max-height: 7.5rem;
        max-width: 90%;
        margin: 2.5em auto 0;
        opacity: 0.75;
      }
    }
  }
}

//
// == MEDIA_QUERIES
// --------------------------------------------------
.no-desktop {
  display: none;
}
.tablet-only,
.mobile-only,
.wide-only {
  display: none;
}

// == portrait
@media all and (orientation: portrait) {
  .home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 {
    display: block;

    .home__main,
    .home__aside {
      width: 100%;
    }

    .home__aside {
      .home__share,
      .home__links,
      .home__more {
        text-align: left;
      }

      .home__share {
        position: static;
        margin-top: 1.5em;

        li {
          display: inline-block;
        }
      }

      .home__links li.download::before {
        right: inherit;
        left: 0;
      }
    }
  }
}

// == just for the sticky nav
@media screen and (max-width: em(670)) {
  #nav-anchors {
    display: none;
  }
}

// == tablet
@media screen and (max-width: em(1010)) {
  body:before {
    background-color: orange;
  }

  .no-tablet {
    display: none;
  }

  .tablet-only,
  .no-desktop {
    display: block;

    &.inline {
      display: inline !important;
    }
    &.inline-block {
      display: inline-block !important;
    }
    &.table {
      display: table !important;
    }
    &.table-row {
      display: table-row !important;
    }
    &.table-cell {
      display: table-cell !important;
    }
  }

  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__index
    li
    a {
    small {
      width: 7.5rem;

      span {
        font-size: 1rem;
      }
    }

    strong {
      padding-left: 8.5rem;
      padding-top: 0.35rem;
    }
  }

  .session
    .session__core
    .session__speakers
    .list-speakers
    li
    .list-speakers__bio
    div {
    column-count: 1;
  }

  .session .session__core .floated {
    &.floated--left {
      margin-right: 1rem;
      padding-right: 1rem;
    }

    &.floated--right {
      margin-left: 1rem;
      padding-left: 1rem;
    }
  }

  // font-sizes
  // ----------
  .link-download {
    font-size: 1.8rem;
  }
  .link-download strong span {
    font-size: 1.6rem;
  }

  #footer p,
  #footer li {
    font-size: 1.4rem;
  }

  .h1 {
    font-size: 2.2rem;
  }
  .h1 strong {
    margin-top: -3vw;
  }
  .h1 strong::before {
    padding-right: 0.25em;
  }
  .h2 {
    font-size: 2rem;
  }
  .h3 {
    font-size: 1.8rem;
  }

  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .h2
    span {
    font-size: 2rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__intro {
    font-size: 1.8rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__index
    li
    a
    small {
    font-size: 1.6rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__index
    li
    a
    strong {
    font-size: 1.8rem;
    padding-top: 0.5rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__aside
    .home__links {
    font-size: 1.8rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__aside
    .home__more {
    font-size: 1.6rem;
  }

  #nav-anchors ol li a {
    font-size: 1.5rem;
  }
  #nav-anchors ol li a strong {
    font-size: 1.3rem;
  }

  .session .session__core p {
    font-size: 1.8rem;
  }
  .session .session__core .list-standard li {
    font-size: 1.8rem;
  }
  .session .session__core .floated .floated__caption {
    font-size: 1.4rem;
  }
  .session
    .session__core
    .session__speakers
    .list-speakers
    > li
    .list-speakers__bio
    p {
    font-size: 1.6rem;
  }
  .session
    .session__core
    .session__speakers
    .list-speakers
    > li
    .list-speakers__bio
    .list-speakers__links
    > li {
    font-size: 1.6rem;
  }

  .popin-content .popin-core p {
    font-size: 1.6rem;
  }
  .popin-content .popin-core li {
    font-size: 1.6rem;
  }
}

// == mobile
@media screen and (max-width: em(880)) {
  body:before {
    background-color: orangered;
  }

  .no-mobile {
    display: none;
  }

  .mobile-only {
    display: block;

    &.inline {
      display: inline !important;
    }
    &.inline-block {
      display: inline-block !important;
    }
    &.table {
      display: table !important;
    }
    &.table-row {
      display: table-row !important;
    }
    &.table-cell {
      display: table-cell !important;
    }
  }

  body .body__borders {
    margin-left: 0;
    margin-right: 0;
  }

  #footer {
    padding-right: 3.125vw;

    .footer__logo {
      position: static;
      width: 50%;
      margin-bottom: 1.5em;

      span {
        font-size: 5vw;
      }
    }

    .footer__links {
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;

      li {
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    .footer__partners {
      flex-wrap: wrap;
      align-items: flex-end;
      margin-top: 1.5rem;

      li {
        width: 33.3333%;
        margin: 0;
        padding-bottom: 1.5rem;

        img {
          max-width: 80%;
        }
      }
    }
  }

  .home {
    padding-left: 0;
    padding-right: 0;

    .home__wrapper-1::after {
      right: 3.125vw;
    }

    .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 {
      display: block;
      padding: 2rem 0 5rem;

      .home__main,
      .home__aside,
      .home__main .h1 {
        width: 100%;
      }

      .home__main {
        .h1 {
          margin-bottom: 5rem;

          img {
            width: 20rem;
          }

          span {
            margin-left: 3rem;
            font-size: 3rem;
          }
        }

        .h2 span,
        .home__intro {
          padding: 0.5rem 1rem;
        }

        .home__index li a {
          small {
            width: 7rem;
            span i {
              display: inline;
            }
          }

          strong {
            padding-left: 7.5rem;
            padding-top: 0.25rem;
          }
        }
      }

      .home__aside {
        .home__share,
        .home__links,
        .home__more {
          text-align: left;
        }

        .home__share {
          position: static;
          padding: 2rem 0;

          li a {
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            font-size: 2rem;
          }

          li {
            display: inline-block;
          }
        }

        .home__links li.download::before {
          right: inherit;
          left: 0;
        }
      }
    }
  }

  .h1 {
    margin-bottom: 2rem;

    .square::after {
      display: none;
    }

    strong::before {
      width: auto;
      text-align: left;
      margin: 0;
      padding-right: 0;
      color: $violet1;
    }
  }

  .h2 {
    padding-bottom: 1rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }

  .session__speakers + .h2 {
    margin-top: 4rem;
  }

  .h3 {
    margin-bottom: 2rem;
  }
  .h2 + .h3 {
    margin-top: 0;
  }

  .session {
    .h1 strong::before {
      content: counter(session) '.\00a0';
    }

    .session__heading {
      .link-download {
        display: none;
      }
    }

    .session__core,
    .session__core .clearfix {
      > .h2,
      > .h3,
      > p,
      > ul li {
        padding-right: 1.5rem;
      }
    }

    .session__core {
      padding-bottom: 5rem;

      p {
        word-wrap: break-word;
      }

      .floated {
        width: 100%;

        &.floated--left {
          float: none;
          margin-right: 0;
          padding-right: 0;
        }

        &.floated--right {
          float: none;
          margin-left: 0;
          padding-left: 0;
        }
      }

      .session__speakers {
        padding-top: 2.5rem;
        .h2 {
          white-space: nowrap;
        } // quick fix

        .list-speakers > li {
          margin-left: 6.25vw;
          margin-bottom: 0;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;

          img {
            position: relative;
            float: left;
            width: 7.5rem;
            height: 7.5rem;
            margin: 0 1rem 1rem -1rem;
          }

          .list-speakers__bio {
            padding: 0;

            div {
              display: inline;
            }

            p {
              word-wrap: break-word;
            }

            .list-speakers__links {
              margin-top: 1rem;
              margin-bottom: 1rem;
              padding-top: 0.5rem;

              > li {
                margin-top: 0.5em;
                display: block;

                a {
                  word-wrap: break-word;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      .session__downloads {
        .link-download {
          display: flex;
          align-items: flex-end;

          br {
            display: none;
          }

          .svg-icon,
          .uk-icon svg {
            font-size: 3rem;
            margin-right: 0.5rem;
          }
        }
      }

      .session__speakers + .session__downloads {
        .link-download {
          margin-top: 0;

          .svg-icon,
          .uk-icon svg {
            font-size: 3rem;
          }
        }
      }
    }
  }

  #nav-anchors {
    right: 4.6875vw;
  }

  .popin-closer {
    background: $violet1;
    font-size: 2.5rem;
    opacity: 1;
  }
  .popin-content {
    width: 90%;
    margin-right: 5%; // hypothes.is

    .popin-core ul {
      flex-direction: column;

      li {
        width: 100%;
        //padding: 0 25%;
      }
    }
  }

  // font-sizes
  // ----------
  .link-download {
    font-size: 1.4rem;
  }
  .link-download strong span {
    font-size: 1.3rem;
  }

  #footer p,
  #footer li {
    font-size: 1.4rem;
  }

  .h1 {
    font-size: 2.2rem;
  }
  .h2 {
    font-size: 1.8rem;
  }
  .h3 {
    font-size: 1.6rem;
  }

  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .h2
    span {
    font-size: 1.5rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__intro {
    font-size: 1.4rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__index
    li
    a
    small {
    font-size: 1.3rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__index
    li
    a
    strong {
    font-size: 1.5rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__aside
    .home__links {
    font-size: 1.5rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__aside
    .home__more {
    font-size: 1.3rem;
  }

  #nav-anchors ol li a {
    font-size: 1.5rem;
  }
  #nav-anchors ol li a strong {
    font-size: 1.3rem;
  }

  .session .session__core p {
    font-size: 1.6rem;
  }
  .session .session__core .list-standard li {
    font-size: 1.6rem;
  }
  .session
    .session__core
    .session__speakers
    .list-speakers
    > li
    .list-speakers__bio
    p {
    font-size: 1.4rem;
  }
  .session
    .session__core
    .session__speakers
    .list-speakers
    > li
    .list-speakers__bio
    .list-speakers__links
    > li {
    font-size: 1.4rem;
  }

  .popin-content .popin-core p {
    font-size: 1.4rem;
  }
  .popin-content .popin-core li {
    font-size: 1.4rem;
  }
}

// == wide_screens
@media screen and (min-width: em(1650)) {
  body:before {
    background-color: aqua;
  }

  .no-wide {
    display: none;
  }

  .wide-only {
    display: block;

    &.inline {
      display: inline !important;
    }
    &.inline-block {
      display: inline-block !important;
    }
    &.table {
      display: table !important;
    }
    &.table-row {
      display: table-row !important;
    }
    &.table-cell {
      display: table-cell !important;
    }
  }

  // font-sizes
  // ----------
  .link-download {
    font-size: 2.4rem;
  }
  .link-download strong span {
    font-size: 2rem;
  }

  #footer p,
  #footer li {
    font-size: 1.6rem;
  }

  .h1 {
    font-size: 6rem;
  }
  .h2 {
    font-size: 3.4rem;
  }
  .h3 {
    font-size: 3rem;
  }

  .home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 {
    margin-left: -5.5rem;
  }
  .home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 img {
    width: 35rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .h1
    span {
    font-size: 5.15rem;
    margin-left: 5.5rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .h2
    span {
    font-size: 2.4rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__intro {
    font-size: 1.6rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__index
    li
    a
    small {
    font-size: 1.6rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__main
    .home__index
    li
    a
    strong {
    font-size: 2.5rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__aside
    .home__links {
    font-size: 2.5rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__aside
    .home__share
    li
    a {
    font-size: 2.6rem;
  }
  .home
    .home__wrapper-1
    .home__wrapper-2
    .home__wrapper-3
    .home__aside
    .home__more {
    font-size: 1.6rem;
  }

  #nav-anchors ol li a {
    font-size: 3.3rem;
  }
  #nav-anchors ol li a strong {
    font-size: 2rem;
  }

  .session .session__core p {
    font-size: 3rem;
  }
  .session .session__core .list-standard li {
    font-size: 3rem;
  }
  .session .session__core .floated .floated__caption {
    font-size: 2.8rem;
  }
  .session
    .session__core
    .session__speakers
    .list-speakers
    li
    .list-speakers__bio
    p,
  .session
    .session__core
    .session__speakers
    .list-speakers
    li
    .list-speakers__bio
    li {
    font-size: 2.8rem;
  }

  .popin-content .popin-core p {
    font-size: 2.8rem;
  }
  .popin-content .popin-core li {
    font-size: 2.8rem;
  }
}

//
// == PRINT
// --------------------------------------------------
.print-only {
  display: none;
}

@media print {
  body,
  html {
    width: auto;
    height: auto;
    min-height: auto;
    margin: 0;
    background-color: #fff;
    color: #000;
    background-image: none;
    padding: 0;
    float: none;
    position: static;
  }

  a {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  a[href='#'],
  a[href='javascript:'] {
    content: '';
  }

  body {
    padding: 0.5em;
  }
  .no-print {
    display: none;
  }
  .print-only {
    display: block;
  }
}
