table {
  border-collapse: collapse;
  width: 100%;
  margin: var(--margin-large) 0;
}

td,
th {
  border: 1px solid var(--color-table-border);
  padding: var(--padding-medium);
}

tr:nth-child(even) {
  background-color: var(--color-light-grey);
}

tr:hover {
  background-color: var(--color-lighter-grey);
}

th {
  padding-top: var(--padding-medium);
  padding-bottom: var(--padding-medium);
  text-align: left;
  background-color: var(--color-primary);
  color: var(--color-white);
}
