.table {
  border-collapse: collapse;
  margin: var(--margin-large) 0;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid var(--color-table-border);
  padding: var(--padding-medium);
}

.table tr:nth-child(even) {
  background-color: var(--color-light-grey);
}

.table tr:hover {
  background-color: var(--color-lighter-grey);
}

.table th {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding-bottom: var(--padding-medium);
  padding-top: var(--padding-medium);
  text-align: left;
}
