.container {
  display: flex;
  flex: 1;
  /* height: 100%; */
}

.image-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.image {
  border-radius: var(--border-rounded-medium) 0 0 var(--border-rounded-medium);
  flex: 1;
  /* height: 100%; */
}
