.hero {
  margin: var(--margin-large) auto;
  text-align: center;
}

.hero-title {
  color: var(--color-black);
  font-size: var(--font-size-hero);
  font-weight: 600;
}

.hero-subtitle {
  color: var(--color-muted);
  font-size: var(--font-size-heading1);
  font-weight: 400;
}

.hero-image {
  height: 25rem;
  width: 25rem;
  margin: 0 auto;
}

@media (max-width: 40rem) {
  .hero-title {
    font-size: 5rem;
    line-height: 1.2;
    margin: var(--margin-medium) 0;
  }
}
