.heading {
  color: var(--color-text);
  line-height: var(--line-height-small);
}

.heading1 {
  composes: heading;
  font-size: var(--font-size-heading1);
}

.heading2 {
  composes: heading;
  font-size: var(--font-size-heading2);
}

.heading3 {
  composes: heading;
  font-size: var(--font-size-heading3);
  font-style: italic;
  margin-top: var(--margin-large);
}

.heading4 {
  composes: heading;
  font-size: var(--font-size-heading4);
}

.heading5 {
  composes: heading;
  font-size: var(--font-size-heading5);
}
