.close-button {
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--font-size-title);
  position: absolute;
  right: var(--margin-large);
  top: var(--margin-large);
}

.lightbox-link {
  cursor: pointer;
}

.container {
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 6rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}
