.container {
  height: calc(100% - 12rem);
  left: 100%;
  margin-left: var(--margin-huge);
  position: absolute;
  width: 30rem;
}

.toc {
  position: sticky;
  top: 12rem;
  opacity: 0.4;
}

.toc:hover {
  opacity: 1;
}

.toc-heading {
  font-size: var(--font-size-medium);
  text-transform: uppercase;
}

.border {
  border-left: 1px solid #ddd;
  padding: var(--padding-small) var(--padding-large);
  margin: var(--margin-large) 0;
}

.items {
  list-style-type: none;
}

.item {
  margin: 1rem;
}

@media (max-width: 100rem) {
  .container {
    height: unset;
    margin: var(--margin-huge) 0;
    position: static;
    width: unset;
  }

  .toc-heading {
    font-size: var(--font-size-heading1);
    text-transform: unset;
  }
}
