:root {
	--violet1: #1e396c;
	--violet1-darkened: #0d1930;
	--violet2: #0870ac;
	--orange: #ed6f59;
	--pink1: #d5d8dc;
	--pink2: #eaecee;
	--gray: #f8f9f9;
	--darkgray: #2c3547;
	--red: #de1f4e;
}

.body__borders {
	position: relative;
	margin-left: 6.25%;
	margin-right: 6.25%;
	counter-reset: session;
	background: var(--gray);
}

.home a {
	display: block;
	cursor: pointer;
	color: var(--violet1);
	text-decoration: none;
}

.home a.alt,
.home .popin-content .popin-core p a,
.popin-content .popin-core p .home a,
.home .popin-content .popin-core li a,
.popin-content .popin-core li .home a,
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside a {
	text-decoration: underline;
}

.home a.alt:hover,
.home .popin-content .popin-core p a:hover,
.popin-content .popin-core p .home a:hover,
.home .popin-content .popin-core li a:hover,
.popin-content .popin-core li .home a:hover,
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside a:hover,
.home a.alt:focus,
.home .popin-content .popin-core p a:focus,
.popin-content .popin-core p .home a:focus,
.home .popin-content .popin-core li a:focus,
.popin-content .popin-core li .home a:focus,
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside a:focus {
	text-decoration: none;
}

.link-download {
	position: relative;
	display: block;
	font-size: 1.5vw;
	line-height: 1.15;
}

.link-download strong {
	display: inline-block;
	padding-bottom: 0.25em;
	border-bottom: 0.15vw solid var(--orange);
	font-weight: bold;
}

.link-download strong span {
	color: var(--violet2);
	font-weight: normal;
	font-size: 1.25rem;
	font-size: 1.25vw;
}

#footer {
	position: relative;
	background: var(--darkgray);
	color: #fff;
	padding: 1.5625vw 25vw 3.125vw 3.125vw;
	border-top: 3.125vw solid #000;
}
#footer .footer__logo {
	position: absolute;
	right: 3.125vw;
	top: 1.5625vw;
	width: 14.0625vw;
}
#footer .footer__logo svg,
#footer .footer__logo img {
	width: 100%;
	height: auto;
}
#footer .footer__logo img {
	width: 100%;
	max-width: 25em;
	height: auto;
}
#footer .footer__logo span {
	display: block;
	margin-top: 0.1em;
	margin-left: 16.5%;
	color: var(--orange);
	text-transform: none;
	font-size: 1.75vw;
	font-weight: bold;
	line-height: 1;
}
#footer p,
#footer li {
	font-size: 0.95vw;
}
#footer .footer__credits {
	margin-bottom: 1.5em;
}
#footer .footer__links {
	margin-bottom: 2.5em;
	padding: 0.5em 1.5em;
	background: var(--violet2);
}
#footer .footer__links li {
	display: inline-block;
	margin-right: 2em;
}
#footer .footer__links li a {
	font-weight: bold;
	color: #fff;
	transition: color 400ms ease-out;
}
#footer .footer__links li a:hover,
#footer .footer__links li a:focus {
	color: var(--orange);
	transition-duration: 150ms;
}
#footer .h3 {
	color: #fff;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 2px solid var(--violet2);
}
#footer .footer__partners {
	list-style: none;
	margin-bottom: 2.5em;
	margin-top: 2.5em;
	display: flex;
}
#footer .footer__partners li {
	margin-right: 5%;
}
#footer .footer__partners li a,
#footer .footer__partners li svg,
#footer .footer__partners li img {
	width: auto;
	max-width: 100%;
	max-height: 4.688rem;
}
#footer .footer__partners li svg,
#footer .footer__partners li img {
	fill: #fff;
	opacity: 0.75;
	transition: opacity 400ms ease-out;
}
#footer .footer__partners li a:hover svg,
#footer .footer__partners li a:hover img,
#footer .footer__partners li a:focus svg,
#footer .footer__partners li a:focus img {
	opacity: 1;
	transition-duration: 50ms;
}
#footer .footer__more {
	opacity: 0.5;
}

.iframe-container {
	position: relative;
	width: 100%;
	height: 0;
	top: 0;
	padding-bottom: 100%;
}
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.h1 {
	position: relative;
	margin: 0 0 3.125rem;
	text-transform: uppercase;
	font-size: 3.75rem;
	font-size: 3.5vw;
	line-height: 1;
}
.h1::before,
.h1::after {
	content: "";
	position: absolute;
}
.h1::before {
	top: 7.8125vw;
	left: 1.5625vw;
	width: 3.125vw;
	height: 3.125vw;
	background: var(--gray);
}
.h1::after {
	top: 1.5625vw;
	left: -3.125vw;
	width: 6.25vw;
	height: 6.25vw;
	background: var(--orange);
}
.h1 .square {
	z-index: 1;
	position: relative;
	display: inline-block;
	width: 7.8125vw;
	height: 7.8125vw;
	margin-left: -1.5625vw;
	margin-top: -1.5625vw;
	background: var(--violet1);
	vertical-align: bottom;
}
.h1 .square::before {
	position: absolute;
	bottom: 0.075em;
	right: 0;
	color: #fff;
}
.h1 .square::after {
	content: "Session";
	position: relative;
	left: -100%;
	display: block;
	padding: 0.30625vw 0.5em;
	transform: rotate(-90deg);
	transform-origin: 100% 0;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	line-height: 0.95;
	font-size: 1rem;
	font-size: 0.95vw;
	font-size: 1.05vw;
}
.h1 strong {
	position: relative;
	display: block;
	margin-right: 6.25vw;
	margin-left: 7.25vw;
	margin-top: -4vw;
	letter-spacing: -0.025em;
}
.h1 strong::before {
	z-index: 1;
	position: relative;
	display: inline-block;
	width: 7.8125vw;
	margin-left: -7.8125vw;
	text-align: right;
	color: #fff;
}

.h2 {
	margin: 2.5vw 0 1.5vw;
	padding-bottom: 1.5vw;
	border-bottom: 2px solid var(--violet2);
	color: #000;
	font-size: 2.125rem;
	font-size: 2.05vw;
	line-height: 1.15;
}
.h2:first-of-type {
	margin-top: 0;
}
.h2 a:hover,
.h2 a:focus {
	text-decoration: underline;
}

.session__speakers + .h2 {
	margin-top: 3.75rem;
}

.h3 {
	margin: 1.563rem 0 1.172rem;
	color: #000;
	font-size: 1.5rem;
	font-size: 1.65vw;
	line-height: 1.15;
}
.h3:first-of-type {
	margin-top: 0;
}
.h3 a:hover,
.h3 a:focus {
	text-decoration: underline;
}

.home {
	position: relative;
	min-height: 100%;
	display: table;
	height: 100%;
	background: var(--violet1-darkened);
	padding-left: 6.25vw;
	padding-right: 6.25vw;
}
.home .home__background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.home .home__background::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.home .home__wrapper-1 {
	display: table-row;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.home .home__wrapper-1::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 9.375vw;
	width: 1px;
	background: var(--pink1);
	opacity: 0.5;
}
.home .home__wrapper-1 .home__wrapper-2 {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 1.5625vw 6.25vw;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main {
	width: 66.6667%;
	align-self: flex-start;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 {
	margin: 0 0 0.75em -3.125vw;
	font-size: 1em;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1::before,
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1::after {
	display: none;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 svg {
	width: 100%;
	height: auto;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 img {
	width: 40%;
	height: auto;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 span {
	display: block;
	margin-left: 3.25vw;
	color: var(--orange);
	text-transform: none;
	font-size: 3vw;
	line-height: 1;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h2 {
	z-index: 1;
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h2::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 3.125vw;
	height: 3.125vw;
	background: var(--orange);
	transform: translate(50%, -50%);
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h2 span {
	position: relative;
	display: block;
	background: var(--violet1);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-size: 1.5vw;
	padding: 0.5vw 0.75vw;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__intro {
	z-index: 1;
	position: relative;
	background: rgba(0, 0, 0, 0.75);
	padding: 0.5em 0.75em;
	color: #fff;
	font-size: 1rem;
	font-size: 0.95vw;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index {
	position: relative;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 6.25vw;
	height: 6.25vw;
	background: var(--orange);
	transform: translate(-50%, -50%);
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index::after {
	content: "";
	position: absolute;
	top: 6.25vw;
	left: -3.125vw;
	height: 90em;
	width: 1px;
	background: var(--pink1);
	opacity: 0.5;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li {
	display: block;
	margin-top: 0.5em;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a {
	display: block;
	position: relative;
	color: #fff;
	line-height: 1.15;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a small {
	position: absolute;
	left: 0;
	top: 0.15em;
	width: 6.5vw;
	overflow: hidden;
	display: inline-block;
	padding: 0.25em 0.5em;
	margin-right: 0.5vw;
	background: var(--violet1);
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	font-size: 0.95vw;
	font-weight: bold;
}
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__main
	.home__index
	li
	a
	small::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--violet2);
	transform: translateX(-100%);
	transition: transform 400ms ease-out;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a small span {
	position: relative;
}
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__main
	.home__index
	li
	a
	small
	span
	i {
	font-style: normal;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a strong {
	display: block;
	padding-left: 7vw;
	font-size: 1.5rem;
	font-size: 1.5vw;
	font-weight: normal;
	transition: color 400ms ease-out;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a:hover,
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a:focus {
	text-decoration: none;
}
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__main
	.home__index
	li
	a:hover
	small::before,
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__main
	.home__index
	li
	a:focus
	small::before {
	transform: translateX(0);
	transition-duration: 150ms;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a:hover strong,
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__main
	.home__index
	li
	a:focus
	strong {
	color: var(--orange);
	transition-duration: 150ms;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside {
	z-index: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 33.3333%;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share {
	list-style: none;
	position: relative;
	text-align: right;
	right: -8.0625vw;
	top: 3.125vw;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share li {
	margin-bottom: 1.5625vw;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share li a {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 3.125vw;
	height: 3.125vw;
	background: var(--orange);
	color: #fff;
	text-align: center;
	font-size: 2vw;
	line-height: 3.125vw;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share li a::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--violet2);
	transform: translateX(-100%);
	transition: transform 400ms ease-out;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share li a .svg-icon,
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__aside
	.home__share
	li
	a
	.uk-icon
	svg {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: -0.1em;
}
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__aside
	.home__share
	li
	a.home__share__twitter {
	background: #55acee;
}
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__aside
	.home__share
	li
	a.home__share__facebook {
	background: #3b5999;
}
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__aside
	.home__share
	li
	a.home__share__googleplus {
	background: #d73d32;
}
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__aside
	.home__share
	li
	a:hover::before,
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__aside
	.home__share
	li
	a:focus::before {
	transform: translateX(0);
	transition-duration: 150ms;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside > div {
	position: relative;
	z-index: 1;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links {
	list-style: none;
	text-align: right;
	font-size: 1.5rem;
	font-size: 1.5vw;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links li a {
	color: #fff;
	opacity: 0.5;
	transition: opacity 400ms ease-out;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links li a:hover,
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links li a:focus {
	text-decoration: none;
	opacity: 1;
	transition-duration: 150ms;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links li.download {
	position: relative;
	padding-top: 1.5vw;
}
.home
	.home__wrapper-1
	.home__wrapper-2
	.home__wrapper-3
	.home__aside
	.home__links
	li.download::before {
	content: "";
	position: absolute;
	right: 0;
	top: 0.75vw;
	width: 1.5vw;
	height: 0.15vw;
	background: #fff;
	opacity: 0.5;
}
.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside a {
	display: inline;
	color: #fff;
	text-decoration: none;
}
.home__intro a {
	display: inline;
	color: inherit;
	text-decoration: underline;
}

.session {
	position: relative;
	border-top: 3.125vw solid var(--violet2);
	margin-left: 1px;
	margin-right: 1px;
}
.session::before,
.session::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 9.375vw;
	width: 1px;
	background: var(--pink1);
}
.session::before {
	left: 3.125vw;
}
.session::after {
	right: 3.125vw;
}
.session .session__heading {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.session .session__heading .h1 strong::before {
	counter-increment: session;
	content: counter(session) ".  ";
}
.session .session__heading .link-download {
	flex-shrink: 0;
	position: relative;
	height: 4.6875vw;
	width: 4.6875vw;
	margin: 1.5625vw 6.25vw 0 0;
	vertical-align: middle;
	background: var(--orange);
	transition: background-color 400ms ease-out;
}
.session .session__heading .link-download .svg-icon,
.session .session__heading .link-download .uk-icon svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.session .session__heading .link-download:hover,
.session .session__heading .link-download:focus {
	background: var(--violet2);
	transition-duration: 150ms;
}
.session .session__core {
	margin: 0 6.125vw;
	padding-bottom: 5em;
	counter-reset: sub-session;
}
.session .session__core .h2.h2--counter::before {
	color: var(--violet1);
	counter-increment: sub-session;
	content: counter(session) "." counter(sub-session) ". ";
}
.session .session__core p,
.session .session__core .list-standard li,
.session .session__core .list-ordered li {
	font-size: 1.7vw;
}
.session .session__core .list-standard {
	margin-bottom: 1em;
	list-style-type: disc;
}
.session .session__core .list-standard li {
	margin-left: 1.5em;
	margin-bottom: 0.5em;
}
.session .session__core .list-ordered {
	margin-bottom: 1em;
	list-style-type: decimal;
}
.session .session__core .list-ordered li {
	margin-left: 1.5em;
	margin-bottom: 0.5em;
}
.session .session__core a {
	display: inline;
	border-bottom: 0.15vw solid var(--violet1);
	transition: color 400ms ease-out;
}
.session .session__core a:hover,
.session .session__core a:focus {
	color: var(--orange);
	transition-duration: 150ms;
	border-bottom: 0.15vw solid var(--orange);
}
.session .session__core .floated {
	width: 50%;
	margin-bottom: 1.25rem;
}
.session .session__core .floated .floated__caption {
	margin-top: 0.25em;
	color: var(--violet2);
	font-style: italic;
	font-size: 1vw;
}
.session .session__core .floated img {
	width: 100%;
}
.session .session__core .floated.floated--left {
	float: left;
	margin-right: 1.5vw;
	padding-right: 1.5vw;
}
.session .session__core .floated.floated--right {
	float: right;
	margin-left: 1.5vw;
	padding-left: 1.5vw;
}
.session .session__core .floated.floated--center {
	width: 100%;
}
.session .session__core .session__downloads {
	color: var(--violet1);
	z-index: 1;
	position: relative;
	margin-top: 3.125vw;
	padding: 2vw;
	background: var(--pink2);
}
.session .session__core .session__downloads.session__downloads--naked::after {
	display: none;
}
.session .session__core .session__downloads::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 3.125vw;
	height: 3.125vw;
	background: var(--violet2);
	transform: translate(50%, 50%);
}
.session .session__core .session__downloads::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 3.125vw;
	height: 3.125vw;
	background: var(--violet1);
	transform: translate(-50%, 150%);
}
.session .session__core .session__downloads .link-download {
	position: relative;
	display: block;
	border: none;
}
.session .session__core .session__downloads .link-download + .link-download {
	margin-top: 0.5em;
}
.session .session__core .session__speakers {
	position: relative;
	padding: 2vw;
	background: var(--pink1);
}
.session .session__core .session__speakers::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 6.25vw;
	height: 6.25vw;
	background: var(--orange);
	transform: translate(25%, 50%);
}
.session .session__core .session__speakers::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 3.125vw;
	height: 3.125vw;
	background: var(--violet2);
	transform: translate(-100%, -50%);
}
.session .session__core .session__speakers .h2 {
	display: inline-block;
	margin-left: -3.125vw;
	margin-bottom: 3.125vw;
	padding: 0;
	border: none;
	color: #fff;
	text-transform: uppercase;
}
.session .session__core .session__speakers .h2 strong {
	padding: 0.15em 0.5em;
	background: #000;
}
.session .session__core .session__speakers .h2 span {
	padding: 0.15em 0.5em;
	background: var(--violet2);
}
.session .session__core .session__speakers .list-speakers {
	list-style: none;
}
.session .session__core .session__speakers .list-speakers > li {
	position: relative;
	min-height: 9.375vw;
	margin-bottom: 3.125vw;
	margin-right: 6.25vw;
}
.session .session__core .session__speakers .list-speakers > li img {
	position: absolute;
	left: 0;
	right: 0;
	width: 9.375vw;
	height: 9.375vw;
	border-radius: 50%;
	border: 0.3vw solid var(--violet2);
}
.session .session__core .session__speakers .list-speakers > li .list-speakers__bio {
	padding-left: 11.5vw;
}
.session .session__core .session__speakers .list-speakers > li .list-speakers__bio .h3 {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 0.15vw solid var(--violet2);
}
.session .session__core .session__speakers .list-speakers > li .list-speakers__bio p,
.session .session__core .session__speakers .list-speakers > li .list-speakers__bio li {
	font-size: 1.125rem;
	font-size: 1.3vw;
}
.session .session__core .session__speakers .list-speakers > li .list-speakers__bio div {
	column-count: 2;
	column-gap: 3.125vw;
}
.session .session__core .session__speakers .list-speakers > li .list-speakers__bio div.one-column {
	column-count: 1;
}
.session
	.session__core
	.session__speakers
	.list-speakers
	> li
	.list-speakers__bio
	.list-speakers__links {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 0.15vw solid var(--pink2);
}
.session
	.session__core
	.session__speakers
	.list-speakers
	> li
	.list-speakers__bio
	.list-speakers__links
	> li {
	display: inline-block;
	margin-right: 1em;
}
.session
	.session__core
	.session__speakers
	.list-speakers
	> li
	.list-speakers__bio
	.list-speakers__links
	> li
	a {
	border: none;
}
.session
	.session__core
	.session__speakers
	.list-speakers
	> li
	.list-speakers__bio
	.list-speakers__links
	> li
	a
	.svg-icon,
.session
	.session__core
	.session__speakers
	.list-speakers
	> li
	.list-speakers__bio
	.list-speakers__links
	> li
	a
	.uk-icon
	svg {
	color: #000;
}
.session .session__core .session__speakers + .session__downloads {
	margin-top: 6.25vw;
	background: var(--violet2);
}
.session .session__core .session__speakers + .session__downloads::before {
	background: var(--orange);
}
.session .session__core .session__speakers + .session__downloads::after {
	top: -3.125vw;
	left: 0;
	right: 6.25vw;
	width: auto;
	height: 0.15vw;
	transform: none;
	background: var(--violet2);
}
.session .session__core .session__speakers + .session__downloads .link-download {
	color: #fff;
}
.session .session__core .session__speakers + .session__downloads .link-download .svg-icon,
.session .session__core .session__speakers + .session__downloads .link-download .uk-icon svg {
	font-size: 4vw;
}
.session .session__core .session__speakers + .session__downloads .link-download span {
	color: var(--pink2);
}
.session .session__core .session__speakers + .session__downloads .link-download small {
	font-size: inherit;
}
.session .session__core .session__speakers + .session__downloads .link-download small::before {
	content: counter(session);
}
.session .session__core .session__speakers + .session__downloads .link-download:hover,
.session .session__core .session__speakers + .session__downloads .link-download:focus {
	color: var(--orange);
}
.session .session__core h2:not(:first-of-type) {
	margin-top: 4.5vw;
}

#nav-anchors {
	z-index: 100;
	position: absolute;
	right: -1.5625vw;
	top: 0;
	padding-top: 4.6875vw;
	padding-bottom: 3.125vw;
}
#nav-anchors.fixed {
	position: fixed;
	right: 4.6875vw;
}
#nav-anchors.bottom {
	top: inherit;
	bottom: 0;
}
#nav-anchors ol {
	list-style-type: none;
	counter-reset: nav -1;
}
#nav-anchors ol li a {
	position: relative;
	font-size: 2vw;
}
#nav-anchors ol li a::after {
	position: relative;
	display: block;
	counter-increment: nav;
	content: counter(nav);
	content: nav;
	width: 3.125vw;
	height: 3.125vw;
	text-align: center;
	line-height: 3.125vw;
	transition: background-color 400ms ease-out, color 400ms ease-out;
}
#nav-anchors ol li a strong {
	overflow: hidden;
	display: block;
	height: 3.125vw;
	line-height: 3.125vw;
	width: 0;
	padding-left: 1em;
	padding-right: 1em;
	position: absolute;
	right: 100%;
	background: var(--violet1);
	color: #fff;
	font-weight: normal;
	font-size: 1vw;
	white-space: nowrap;
	opacity: 0;
	transform: translateX(3.125vw);
	transition: transform 400ms ease-out, opacity 400ms ease-out;
}
#nav-anchors ol li a:hover::after,
#nav-anchors ol li a:focus::after {
	color: #fff;
	background: var(--violet2) !important;
	transition-duration: 150ms;
}
#nav-anchors ol li a:hover strong,
#nav-anchors ol li a:focus strong {
	width: auto;
	opacity: 1;
	transform: translateX(0);
	transition-duration: 150ms;
}
#nav-anchors ol li a.active::after {
	color: #fff;
	background: var(--orange) !important;
	transition-duration: 150ms;
}
#nav-anchors ol li a.focus::after {
	color: #fff;
	background: var(--violet1) !important;
	transition-duration: 150ms;
}
#nav-anchors ol li:nth-child(even) a::after {
	background: var(--pink1);
}
#nav-anchors ol li:nth-child(odd) a::after {
	background: var(--pink2);
}
#nav-anchors ol li:first-child a::after {
	content: "▲";
}
#nav-anchors ol li:last-child a::after {
	content: "▼";
}

.popin-overlay {
	position: fixed;
	width: auto;
	z-index: 500;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.75);
	text-align: center;
	height: 0;
	overflow: hidden;
}
.popin-overlay::before {
	content: "";
	position: relative;
	overflow: hidden;
	display: inline-block;
	height: 100%;
	left: 0;
	width: 1px;
	vertical-align: middle;
}
.popin-overlay.active {
	height: auto;
	overflow: auto;
}

.popin-closer {
	position: absolute;
	right: 1.5625vw;
	top: 1.5625vw;
	color: #fff;
	text-decoration: none;
	font-size: 3.125vw;
	vertical-align: middle;
	line-height: 1;
	cursor: pointer;
	opacity: 0.75;
	transition: opacity 400ms ease-out;
}
.popin-closer:hover,
.popin-closer:focus {
	opacity: 1;
	transition: none;
}

.popin-content {
	position: relative;
	display: inline-block;
	/* width: 75%; */
	/* margin: 3.125vw 0; */
	padding: 0 6.25vw;
	vertical-align: middle;
	text-align: left;
	background: var(--violet2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}
.popin-content .popin-core {
	padding: 3.125vw 6.25vw;
	background: #fff;
}
.popin-content .popin-core .h1::before {
	top: 0;
	left: -10.9375vw;
	background: var(--violet1);
}
.popin-content .popin-core .h1::after {
	left: -9.375vw;
}
.popin-content .popin-core .h3 {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 0.15vw solid var(--violet2);
}
.popin-content .popin-core p,
.popin-content .popin-core li {
	font-size: 1.25vw;
}
.popin-content .popin-core p a,
.popin-content .popin-core li a {
	display: inline;
}
.popin-content .popin-core ul {
	margin-left: 1.5em;
}
.popin-content .popin-core ul li {
	margin-bottom: 0.313rem;
}
.popin-content .popin-core ul.one-line {
	flex-wrap: wrap;
}
.popin-content .popin-core ul.one-line li {
	width: 100%;
	padding-right: 0;
}
.popin-content .popin-core ul.one-line strong {
	color: #000;
}
.popin-content .popin-core ul a,
.popin-content .popin-core ul svg,
.popin-content .popin-core ul img {
	display: block;
	max-width: 100%;
}
.popin-content .popin-core ul svg,
.popin-content .popin-core ul img {
	height: auto;
	width: auto;
	max-height: 4.688rem;
	max-width: 90%;
	margin: 2.5em auto 0;
	opacity: 0.75;
}

.no-desktop {
	display: none;
}

.tablet-only,
.mobile-only,
.wide-only {
	display: none;
}

@media all and (orientation: portrait) {
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 {
		display: block;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main,
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside {
		width: 100%;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share,
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links,
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside {
		text-align: left;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share {
		position: static;
		margin-top: 1.5em;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share li {
		display: inline-block;
	}
}
@media screen and (max-width: 41.875em) {
	#nav-anchors {
		display: none;
	}
}
@media screen and (max-width: 63.125em) {
	#body:before {
		background-color: orange;
	}

	.no-tablet {
		display: none;
	}

	.tablet-only,
	.no-desktop {
		display: block;
	}
	.tablet-only.inline,
	.no-desktop.inline {
		display: inline !important;
	}
	.tablet-only.inline-block,
	.no-desktop.inline-block {
		display: inline-block !important;
	}
	.tablet-only.table,
	.no-desktop.table {
		display: table !important;
	}
	.tablet-only.table-row,
	.no-desktop.table-row {
		display: table-row !important;
	}
	.tablet-only.table-cell,
	.no-desktop.table-cell {
		display: table-cell !important;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a small {
		width: 4.688rem;
	}
	.home
		.home__wrapper-1
		.home__wrapper-2
		.home__wrapper-3
		.home__main
		.home__index
		li
		a
		small
		span {
		font-size: 0.625rem;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a strong {
		padding-left: 5.313rem;
		padding-top: 0.219rem;
	}

	.session .session__core .session__speakers .list-speakers li .list-speakers__bio div {
		column-count: 1;
	}

	.session .session__core .floated.floated--left {
		margin-right: 0.625rem;
		padding-right: 0.625rem;
	}
	.session .session__core .floated.floated--right {
		margin-left: 0.625rem;
		padding-left: 0.625rem;
	}

	.link-download {
		font-size: 1.125rem;
	}

	.link-download strong span {
		font-size: 1rem;
	}

	#footer p,
	#footer li {
		font-size: 0.875rem;
	}

	.h1 {
		font-size: 1.375rem;
	}

	.h1 strong {
		margin-top: -3vw;
	}

	.h1 strong::before {
		padding-right: 0.25em;
	}

	.h2 {
		font-size: 1.25rem;
	}

	.h3 {
		font-size: 1.125rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h2 span {
		font-size: 1.25rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__intro {
		font-size: 1.125rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a small {
		font-size: 1rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a strong {
		font-size: 1.125rem;
		padding-top: 0.313rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links {
		font-size: 1.125rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside {
		font-size: 1rem;
	}

	#nav-anchors ol li a {
		font-size: 0.938rem;
	}

	#nav-anchors ol li a strong {
		font-size: 0.813rem;
	}

	.session .session__core p {
		font-size: 1.125rem;
	}

	.session .session__core .list-standard li,
	.session .session__core .list-ordered li {
		font-size: 1.125rem;
	}

	.session .session__core .floated .floated__caption {
		font-size: 0.875rem;
	}

	.session .session__core .session__speakers .list-speakers > li .list-speakers__bio p {
		font-size: 1rem;
	}

	.session
		.session__core
		.session__speakers
		.list-speakers
		> li
		.list-speakers__bio
		.list-speakers__links
		> li {
		font-size: 1rem;
	}

	.popin-content .popin-core p {
		font-size: 1rem;
	}

	.popin-content .popin-core li {
		font-size: 1rem;
	}
}
@media screen and (max-width: 55em) {
	#body:before {
		background-color: orangered;
	}

	.no-mobile {
		display: none;
	}

	.mobile-only {
		display: block;
	}
	.mobile-only.inline {
		display: inline !important;
	}
	.mobile-only.inline-block {
		display: inline-block !important;
	}
	.mobile-only.table {
		display: table !important;
	}
	.mobile-only.table-row {
		display: table-row !important;
	}
	.mobile-only.table-cell {
		display: table-cell !important;
	}

	#body .body__borders {
		margin-left: 0;
		margin-right: 0;
	}

	#footer {
		padding-right: 3.125vw;
	}
	#footer .footer__logo {
		position: static;
		width: 50%;
		margin-bottom: 1.5em;
	}
	#footer .footer__logo span {
		font-size: 5vw;
	}
	#footer .footer__links {
		margin-top: 0.313rem;
		padding: 0.313rem 0.625rem;
	}
	#footer .footer__links li {
		display: block;
		margin-bottom: 0.313rem;
	}
	#footer .footer__partners {
		flex-wrap: wrap;
		align-items: flex-end;
		margin-top: 0.938rem;
	}
	#footer .footer__partners li {
		width: 33.3333%;
		margin: 0;
		padding-bottom: 0.938rem;
	}
	#footer .footer__partners li img {
		max-width: 80%;
	}

	.home {
		padding-left: 0;
		padding-right: 0;
	}
	.home .home__wrapper-1::after {
		right: 3.125vw;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 {
		display: block;
		padding: 1.25rem 0 3.125rem;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main,
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside,
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 {
		width: 100%;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 {
		margin-bottom: 3.125rem;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 img {
		width: 12.5rem;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 span {
		margin-left: 1.875rem;
		font-size: 1.875rem;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h2 span,
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__intro {
		padding: 0.313rem 0.625rem;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a small {
		width: 4.375rem;
	}
	.home
		.home__wrapper-1
		.home__wrapper-2
		.home__wrapper-3
		.home__main
		.home__index
		li
		a
		small
		span
		i {
		display: inline;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a strong {
		padding-left: 4.688rem;
		padding-top: 0.156rem;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share,
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links,
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside {
		text-align: left;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share {
		position: static;
		padding: 1.25rem 0;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share li a {
		width: 1.875rem;
		height: 1.875rem;
		line-height: 1.875rem;
		font-size: 1.25rem;
	}
	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share li {
		display: inline-block;
	}
	.home
		.home__wrapper-1
		.home__wrapper-2
		.home__wrapper-3
		.home__aside
		.home__links
		li.download::before {
		right: inherit;
		left: 0;
	}

	.h1 {
		margin-bottom: 1.25rem;
	}
	.h1 .square::after {
		display: none;
	}
	.h1 strong::before {
		width: auto;
		text-align: left;
		margin: 0;
		padding-right: 0;
		color: var(--violet1);
	}

	.h2 {
		padding-bottom: 0.625rem;
		margin-top: 2.188rem;
		margin-bottom: 0.625rem;
	}

	.session__speakers + .h2 {
		margin-top: 2.5rem;
	}

	.h3 {
		margin-bottom: 1.25rem;
	}

	.h2 + .h3 {
		margin-top: 0;
	}

	.session .h1 strong::before {
		content: counter(session) ". ";
	}
	.session .session__heading .link-download {
		display: none;
	}
	.session .session__core > .h2,
	.session .session__core > .h3,
	.session .session__core > p,
	.session .session__core > ul li,
	.session .session__core .clearfix > .h2,
	.session .session__core .clearfix > .h3,
	.session .session__core .clearfix > p,
	.session .session__core .clearfix > ul li {
		padding-right: 0.938rem;
	}
	.session .session__core {
		padding-bottom: 3.125rem;
	}
	.session .session__core p {
		word-wrap: break-word;
	}
	.session .session__core .floated {
		width: 100%;
	}
	.session .session__core .floated.floated--left {
		float: none;
		margin-right: 0;
		padding-right: 0;
	}
	.session .session__core .floated.floated--right {
		float: none;
		margin-left: 0;
		padding-left: 0;
	}
	.session .session__core .session__speakers {
		padding-top: 1.563rem;
	}
	.session .session__core .session__speakers .h2 {
		white-space: nowrap;
	}
	.session .session__core .session__speakers .list-speakers > li {
		margin-left: 6.25vw;
		margin-bottom: 0;
		padding-top: 0.938rem;
		padding-bottom: 0.938rem;
	}
	.session .session__core .session__speakers .list-speakers > li img,
	.session .session__core .session__speakers .list-speakers > li > div > svg {
		position: relative;
		float: left;
		width: 4.688rem;
		height: 4.688rem;
		margin: 0 0.625rem 0.625rem -0.625rem;
	}
	.session .session__core .session__speakers .list-speakers > li .list-speakers__bio {
		padding: 0;
	}
	.session .session__core .session__speakers .list-speakers > li .list-speakers__bio div {
		display: inline;
	}
	.session .session__core .session__speakers .list-speakers > li .list-speakers__bio p {
		word-wrap: break-word;
	}
	.session
		.session__core
		.session__speakers
		.list-speakers
		> li
		.list-speakers__bio
		.list-speakers__links {
		margin-top: 0.625rem;
		margin-bottom: 0.625rem;
		padding-top: 0.313rem;
	}
	.session
		.session__core
		.session__speakers
		.list-speakers
		> li
		.list-speakers__bio
		.list-speakers__links
		> li {
		margin-top: 0.5em;
		display: block;
	}
	.session
		.session__core
		.session__speakers
		.list-speakers
		> li
		.list-speakers__bio
		.list-speakers__links
		> li
		a {
		word-wrap: break-word;
		white-space: nowrap;
	}
	.session .session__core .session__downloads .link-download {
		display: flex;
		align-items: flex-end;
	}
	.session .session__core .session__downloads .link-download br {
		display: none;
	}
	.session .session__core .session__downloads .link-download .svg-icon,
	.session .session__core .session__downloads .link-download .uk-icon svg {
		font-size: 1.875rem;
		margin-right: 0.313rem;
	}
	.session .session__core .session__speakers + .session__downloads .link-download {
		margin-top: 0;
	}
	.session .session__core .session__speakers + .session__downloads .link-download .svg-icon,
	.session .session__core .session__speakers + .session__downloads .link-download .uk-icon svg {
		font-size: 1.875rem;
	}
	.session .session__core .session__downloads .link-download strong span {
		margin-left: 0.5em;
	}

	.popin-closer {
		background: var(--violet1);
		font-size: 1.563rem;
		opacity: 1;
	}

	.popin-content .popin-core ul {
		flex-direction: column;
	}
	.popin-content .popin-core ul li {
		width: 100%;
	}

	.link-download {
		font-size: 0.875rem;
	}

	.link-download strong span {
		font-size: 0.813rem;
	}

	#footer p,
	#footer li {
		font-size: 0.875rem;
	}

	.h1 {
		font-size: 1.375rem;
	}

	.h2 {
		font-size: 1.125rem;
	}

	.h3 {
		font-size: 1rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h2 span {
		font-size: 0.938rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__intro {
		font-size: 0.875rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a small {
		font-size: 0.813rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a strong {
		font-size: 0.938rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links {
		font-size: 0.938rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside {
		font-size: 0.813rem;
	}

	#nav-anchors ol li a {
		font-size: 0.938rem;
	}

	#nav-anchors ol li a strong {
		font-size: 0.813rem;
	}

	.session .session__core p {
		font-size: 1rem;
	}

	.session .session__core .list-standard li,
	.session .session__core .list-ordered li {
		font-size: 1rem;
	}

	.session .session__core .session__speakers .list-speakers > li .list-speakers__bio p {
		font-size: 0.875rem;
	}

	.session
		.session__core
		.session__speakers
		.list-speakers
		> li
		.list-speakers__bio
		.list-speakers__links
		> li {
		font-size: 0.875rem;
	}

	.popin-content .popin-core p {
		font-size: 0.875rem;
	}

	.popin-content .popin-core li {
		font-size: 0.875rem;
	}
}

@media screen and (min-width: 103.125em) {
	#body:before {
		background-color: aqua;
	}

	.no-wide {
		display: none;
	}

	.wide-only {
		display: block;
	}
	.wide-only.inline {
		display: inline !important;
	}
	.wide-only.inline-block {
		display: inline-block !important;
	}
	.wide-only.table {
		display: table !important;
	}
	.wide-only.table-row {
		display: table-row !important;
	}
	.wide-only.table-cell {
		display: table-cell !important;
	}

	.link-download {
		font-size: 1.5rem;
	}

	.link-download strong span {
		font-size: 1.25rem;
	}

	#footer p,
	#footer li {
		font-size: 1rem;
	}

	.h1 {
		font-size: 3.75rem;
	}

	.h2 {
		font-size: 2.125rem;
	}

	.h3 {
		font-size: 1.875rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 {
		margin-left: -3.438rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 img {
		width: 21.875rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h1 span {
		font-size: 3.219rem;
		margin-left: 3.438rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .h2 span {
		font-size: 1.5rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__intro {
		font-size: 1rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a small {
		font-size: 1rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__main .home__index li a strong {
		font-size: 1.563rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__links {
		font-size: 1.563rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside .home__share li a {
		font-size: 1.625rem;
	}

	.home .home__wrapper-1 .home__wrapper-2 .home__wrapper-3 .home__aside {
		font-size: 1rem;
	}

	#nav-anchors ol li a {
		font-size: 2.062rem;
	}

	#nav-anchors ol li a strong {
		font-size: 1.25rem;
	}

	.session .session__core p {
		font-size: 1.875rem;
	}

	.session .session__core .list-standard li,
	.session .session__core .list-ordered li {
		font-size: 1.875rem;
	}

	.session .session__core .floated .floated__caption {
		font-size: 1.75rem;
	}

	.session .session__core .session__speakers .list-speakers li .list-speakers__bio p,
	.session .session__core .session__speakers .list-speakers li .list-speakers__bio li {
		font-size: 1.75rem;
	}

	.popin-content .popin-core p {
		font-size: 1.75rem;
	}

	.popin-content .popin-core li {
		font-size: 1.75rem;
	}
}
