:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-grey: #f5f5f5;
  --color-lighter-grey: #ebecee;
  --color-grey: #8f919e;
  --color-primary: #006699;
  --color-primary-darkened: #005580;
  --color-primary-dark: #2c3547;
  --color-text: #323247;
  --color-background: #efefef;
  --color-muted: #8f919e;
  --color-table-border: #ddd;

  --margin-xsmall: 0.2rem;
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;
  --margin-huge: 4rem;
  --margin-huger: 6rem;

  --padding-xsmall: 0.2rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;
  --padding-huge: 4rem;

  --border-round: 50%;
  --border-rounded-small: 0.4rem;
  --border-rounded-medium: 1.2rem;
  --border-rounded-large: 3rem;

  --boxshadow-small: 0 2px 8px rgba(0, 0, 0, 0.08);
  --boxshadow-medium: 0 5px 15px rgba(0, 0, 0, 0.08);
  --boxshadow-large: 0 10px 35px rgba(0, 0, 0, 0.12);

  --font-size-hero: 6rem;
  --font-size-title: 4rem;
  --font-size-heading1: 2.2rem;
  --font-size-heading2: 1.9rem;
  --font-size-heading3: 1.8rem;
  --font-size-heading4: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.5rem;
  --font-size-xsmall: 1.4rem;

  --height-footer: 14rem;
  --height-header: 9rem;

  --grid-column-width-small: 30rem;
  --grid-column-width-medium: 36rem;
  --grid-column-width-large: 42rem;

  --line-height-medium: 1.5;
  --line-height-large: 1.8;

  --container-small: 72rem;
  --container-mediumish: 91rem;
  --container-medium: 100rem;
  --container-large: 120rem;
  --container-huge: 160rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: var(--color-text);
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/*
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
*/

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  min-width: 32rem;
  overflow-x: hidden;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.gatsby-resp-image-image,
.gatsby-resp-image-background-image {
  border-radius: 1rem;
}

div[data-reach-dialog-overlay] {
  z-index: 10;
}

div#eventoverlay[data-reach-dialog-content] {
  background: none;
  width: unset;
  padding: unset;
  margin: unset;
}

/* workaround for some os/browser combos which display the backref character in unicode emoji mode */
a.footnote-backref {
  font-family: monospace;
  margin-left: 1ch;
}

figcaption.gatsby-resp-image-figcaption {
  text-align: center;
  color: var(--color-muted);
  font-size: 90%;
  padding: var(--padding-small);
}
