:focus:not(:focus-visible) {
  outline: none;
}
:focus:not(:focus-visible):-moz-focusring {
  outline: none;
}

:root {
  -webkit-tap-highlight-color: transparent;

  text-size-adjust: none;
}

body {
  @apply min-h-screen font-sans antialiased text-neutral-900 bg-neutral-50;
}
