:root {
  --page-header-height: 88px;
}

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: var(--page-header-height);
}

/* temporary hack for quiz questions */
.choices {
  margin-top: 0 !important;
}
.choice span p {
  margin-top: 0;
  margin-bottom: 0;
}
