@import 'nprogress/nprogress.css';

#nprogress {
  --color-nprogress: #069; /* primary-600 */
}

#nprogress .bar {
  background: var(--color-nprogress);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--color-nprogress), 0 0 5px var(--color-nprogress);
}
