# =================================================================================================
# environment variables for local development containers
# =================================================================================================

# =================================================================================================
# search
# =================================================================================================

NEXT_PUBLIC_TYPESENSE_COLLECTION="dariah-campus"

# local
# -------------------------------------------------------------------------------------------------

TYPESENSE_ADMIN_API_KEY=# `openssl rand --hex 32`
TYPESENSE_HOST="localhost"
TYPESENSE_PORT="8108"
TYPESENSE_PROTOCOL="http"
TYPESENSE_SEARCH_API_KEY=# initialized in `dev:services:setup` script

TYPESENSE_DASHBOARD_PORT="5050"
