.cta {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--margin-huge);
  text-align: center;
}

.title {
  margin: var(--margin-large);
}

.subtitle {
  color: var(--color-muted);
}

.button {
  margin: var(--margin-large);
}
