.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: var(--height-header);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: var(--height-header);
}

.footer {
  flex-basis: var(--height-footer);
}

.sidepanel {
  position: fixed;
  transform: translateX(-100%);
  width: 20rem;
}
