.button-as-link {
  font-weight: 700;
  color: #fff;
  transition: color 400ms ease-out;
}

.button-as-link:hover {
  color: #ed6f59;
  transition-duration: 150ms;
}

.partner-image {
  fill: #fff;
  flex: 1;
  opacity: 0.75;
  transition: color 400ms ease-out;
}

.partner-image:hover {
  opacity: 1;
  transition-duration: 150ms;
}
