.author-image {
  border-radius: var(--border-round);
  margin-right: var(--margin-small);
}

.read-more-link {
  flex: 1;
  text-align: right;
}

.text {
  color: var(--color-muted);
  line-height: var(--line-height-large);
  font-size: var(--font-size-medium);
  margin: var(--margin-large) 0 0 0;
}
