.button,
.button:visited {
  background: none;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-rounded-large);
  color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-small);
  font-weight: 500;
  padding: var(--padding-small) var(--padding-large);
}

.button:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.button-primary,
.button-primary:visited {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.button-primary:hover {
  background-color: var(--color-primary-darkened);
}
