.search-bar {
  margin: var(--margin-huge) 0;
  padding: 0;
}

.search-bar-input {
  background: none;
  border: 1px solid var(--color-light-grey);
  border-radius: calc(var(--padding-huge) * 2);
  box-shadow: var(--boxshadow-large);
  font-size: var(--font-size-heading1);
  line-height: 1;
  padding: 3rem var(--padding-huge);
  width: 100%;
}

@media (max-width: 60em) {
  .search-bar {
    margin: var(--margin-large) var(--margin-medium);
    padding: 0 var(--padding-medium);
  }
}

@media (max-width: 40em) {
  .search-bar-input {
    font-size: var(--font-size-large);
    padding: var(--padding-large);
  }
}

.search-popover {
  border: none;
  border-radius: var(--border-rounded-medium);
  box-shadow: var(--boxshadow-medium);
  margin: var(--margin-small);
  z-index: 3;
}

.search-results {
}

.search-result {
  font-size: var(--font-size-medium);
  padding: var(--padding-large);
}

.search-result:first-of-type {
  border-top-left-radius: var(--border-rounded-medium);
  border-top-right-radius: var(--border-rounded-medium);
}

.search-result:last-of-type {
  border-bottom-left-radius: var(--border-rounded-medium);
  border-bottom-right-radius: var(--border-rounded-medium);
}

.search-result:hover,
.search-bar li[data-highlighted] {
  color: var(--color-primary);
}

.search-result span[data-user-value] {
  font-weight: 700;
}

.search-result span[data-suggested-value] {
  font-weight: 400;
}
