.header {
  background-color: var(--color-white);
}

.header[data-active='true'] {
  box-shadow: var(--boxshadow-medium);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex: 1;
  list-style-type: none;
}

.nav-item {
  margin: 0 var(--margin-medium);
  margin-top: 36px;
}

.nav-item-button {
  margin-top: 29px;
  margin-right: var(--padding-large);
}

.nav-logo-item {
  padding-right: var(--padding-medium);
}

.nav-link {
  font-size: var(--font-size-small);
  padding: 0 var(--padding-small);
}

.activeNavLink,
.activeNavLink:visited {
  color: var(--color-primary);
}

.button {
}

.mobile-nav {
  display: none;
  justify-content: space-between;
}

.mobile-nav-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100vw;
  z-index: 2;
}

.mobile-nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  padding-right: var(--padding-large);
  padding-top: 3.5rem;
  outline: none;
}

.mobile-nav-search {
  padding: var(--padding-large);
  width: var(--margin-large);
}

.mobile-nav-panel {
  background: var(--color-white);
  height: 100%;
  overflow: hidden;
  transition: transform 0.2s ease;
  width: 25rem;
  float: right;
  box-shadow: var(--boxshadow-medium);
}

.mobile-nav-close-button {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  font-size: var(--font-size-title);
  margin: var(--margin-large);
  outline: none;
}

.mobile-nav-items {
  list-style-type: none;
  margin: var(--margin-huge) 0 0;
  padding: var(--padding-large) 0;
}

.mobile-nav-link {
  font-size: var(--font-size-medium);
  padding: var(--padding-medium) 0 0 var(--padding-medium);
  display: block;
}

.mobile-active-nav-link,
.mobile-active-nav-link:visited {
  color: var(--color-primary);
}

@media (max-width: 60em) {
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

.search-bar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 var(--margin-large);
}

.search-bar-container {
  margin-top: 25px;
  display: flex;
}

.search-bar {
  margin: 0;
  padding: 0;
}

.search-bar input {
  background-color: var(--color-white);
  box-shadow: none;
  font-size: var(--font-size-text);
  padding: var(--padding-medium) var(--padding-large);
  width: 20em;
}

.search-bar input:focus {
  /* removes ugly blue border in Safari */
  outline: none;
}

@media (max-width: 60em) {
  .search-bar-container {
    display: none;
  }
}
