.metadata {
  border-top: 1px solid var(--color-table-border);
  color: var(--color-muted);
  display: flex;
  flex-direction: column;
  font-size: 80%;
  margin-bottom: var(--margin-huge);
  margin-top: var(--margin-huge);
  padding-top: var(--padding-large);
}

.metadata > * {
  margin-top: var(--margin-small);
}
