.metadata {
  align-items: center;
  color: var(--color-muted);
  display: flex;
  font-size: var(--font-size-small);
  justify-content: space-between;
  margin: var(--margin-huge) 0;
}

.metadata-left {
  align-items: center;
  display: flex;
  flex: 0 0 50%;
}

.metadata-image-container {
  display: flex;
  margin-right: var(--margin-medium);
}

.metadata-image {
  border-radius: var(--border-round);
  margin-right: var(--margin-small);
}

.metadata-right {
  flex: 0 0 50%;
  text-align: right;
}

@media (max-width: 36rem) {
  .metadata-image-container {
    display: none;
  }

  .metadata {
    flex-direction: column;
  }
}
