.container {
  bottom: 0;
  left: 100%;
  margin-left: var(--margin-huge);
  position: absolute;
  top: 0;
  width: 30rem;
}

.container-left {
  left: unset;
  margin-left: 0;
  margin-right: var(--margin-huger);
  right: 100%;
}

.citedUrl {
  word-break: break-all;
}

.citeAs {
  max-height: calc(100vh - var(--height-header));
  opacity: 0.4;
  overflow-y: auto;
  position: sticky;
  top: calc(var(--height-header) + 2rem);
  transition: opacity 0.2s ease;
}

.citeAs:hover {
  opacity: 1;
}

.citeAs-heading {
  font-size: var(--font-size-medium);
  text-transform: uppercase;
}

.border {
  border-left: 1px solid #ddd;
  padding: 0 var(--padding-small);
  margin: var(--margin-large) 0;
}

.citeAs:hover a {
  color: var(--color-primary);
}

.citeAs:hover a:hover {
  color: var(--color-primary-darkened);
}

.citeAsButton {
  color: var(--color-text);
  border: 1px solid var(--color-text);
}

.citeAs:hover .citeAsButton {
  color: var(--color-white);
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.citeAs:hover .citeAsButton:hover {
  background: var(--color-primary-darkened);
  color: var(--color-white);
  border: 1px solid var(--color-primary-darkened);
}

.items {
  list-style-type: none;
  margin-bottom: var(--margin-large);
}

.item {
  margin: 1rem 0;
}

@media (max-width: 100em) {
  .container {
    height: unset;
    margin: var(--margin-large) 0;
    position: static;
    width: unset;
  }

  .citeAs-heading {
    font-size: var(--font-size-heading4);
  }
}
