/* stylelint-disable selector-class-pattern */

body {
	/**
	 * Workaround for unavailable italics font style.
	 *
	 * @see https://github.com/Thinkmill/keystatic/issues/1292
	 */
	font-synthesis: style;
}

/**
 * Workaround for .svg images without width and height attributes not being visible.
 */
.kui\:reset > img[src^="blob:"] {
	min-height: 48px;
}
