.container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.spinner {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}
